{% extends "base.html" %}
{% block title %}contact - Papalyze{% endblock %}

{% block content %}

<div class="pt-20 mt-5">
  

<h1 class="mb-4 text-3xl font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-5xl"><span class="text-transparent bg-clip-text bg-gradient-to-r to-indigo-500	 from-sky-400">Intelligent Analysis.</span> Confident Results.</h1>
<p class="text-lg mb-8 font-normal text-gray-500 lg:text-xl dark:text-gray-400">Papalyze helps you unlock insights from previous questions using OCR, NLP, and GPT — so you can prep smarter, not harder.</p>



<p class="mb-4 text-gray-500 dark:text-gray-400 first-line:uppercase first-line:tracking-widest first-letter:text-7xl first-letter:font-bold first-letter:text-gray-900 dark:first-letter:text-gray-100 first-letter:me-3 first-letter:float-start">
  Analyze past exam papers through an AI-powered platform to boost student preparation. Papalyze uses OCR to extract text from scanned papers and applies NLP to detect frequent questions, patterns, and topic trends. This gives students focused insights to optimize study time, reduce guesswork, and improve performance.
</p>


<p class="text-gray-500 mb-6 dark:text-gray-400">
  Deliver smarter exam preparation fast — without the confusion of traditional study methods. Papalyze helps you focus on important topics, eliminate guesswork, and stay exam-ready with clear, AI-generated insights every step of the way.
</p>

<p class="text-gray-500 mb-30 dark:text-gray-400">Papalyze is a smart exam-prep platform that analyzes previous question papers to help students study more effectively. It uses advanced technologies like <a href="#" class="font-medium text-blue-600 underline dark:text-blue-500 hover:no-underline" data-popover-target="popover-image">OCR and NLP</a> to extract and understand questions from scanned documents. Students get insights into question frequency, topic trends, and past patterns. This allows them to focus their efforts on important topics, avoid wasted time, and prepare more strategically. Whether it's printed or handwritten papers, Papalyze helps break them down into meaningful, actionable study material using the power of AI.
<div id="popover-image" role="tooltip" class="absolute z-10 invisible inline-block text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-xs opacity-0 w-96 dark:text-gray-400 dark:bg-gray-800 dark:border-gray-600">
    <div class="grid grid-cols-5">
        <div class="col-span-3 p-3">
            <div class="space-y-2">
                <h3 class="font-semibold text-gray-900 dark:text-white">What is OCR and NLP?</h3>
                <p>OCR (Optical Character Recognition) is a technology that converts images of text into actual editable and searchable text. NLP (Natural Language Processing) allows computers to understand and process human language. Papalyze uses both to read past papers and extract useful patterns.</p>
                <a href="https://en.wikipedia.org/wiki/Optical_character_recognition" class="flex items-center font-medium text-blue-600 dark:text-blue-500 dark:hover:text-blue-600 hover:text-blue-700 hover:underline">Read more <svg class="w-2 h-2 ms-1.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
  </svg></a>
            </div>
        </div>
        <img src="https://buffml.com/wp-content/uploads/2021/05/Feature-OCR.png" class="h-full col-span-2" alt="Italy map" />
    </div>
    <div data-popper-arrow></div>
</div>


<div class="flex mb-20 justify-center text-center">
  <h1 class="flex items-center text-5xl font-extrabold dark:text-white">
    Papalyze
    <span class="bg-blue-100 text-blue-800 text-2xl font-semibold me-2 px-2.5 py-0.5 rounded-sm dark:bg-blue-200 dark:text-blue-800 ms-2">
      WHY
    </span>
  </h1>
</div>


<div class="grid grid-cols-1 gap-8 lg:grid-cols-3 lg:gap-6 mb-20">
  <!-- Card 1 -->
  

<div class=" p-6 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
    <svg class="w-7 h-7 text-gray-500 dark:text-gray-400 mb-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
        <path d="M18 5h-.7c.229-.467.349-.98.351-1.5a3.5 3.5 0 0 0-3.5-3.5c-1.717 0-3.215 1.2-4.331 2.481C8.4.842 6.949 0 5.5 0A3.5 3.5 0 0 0 2 3.5c.003.52.123 1.033.351 1.5H2a2 2 0 0 0-2 2v3a1 1 0 0 0 1 1h18a1 1 0 0 0 1-1V7a2 2 0 0 0-2-2ZM8.058 5H5.5a1.5 1.5 0 0 1 0-3c.9 0 2 .754 3.092 2.122-.219.337-.392.635-.534.878Zm6.1 0h-3.742c.933-1.368 2.371-3 3.739-3a1.5 1.5 0 0 1 0 3h.003ZM11 13H9v7h2v-7Zm-4 0H2v5a2 2 0 0 0 2 2h3v-7Zm6 0v7h3a2 2 0 0 0 2-2v-5h-5Z"/>
    </svg>
    <a href="#">
        <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">AI-Powered Analysis</h5>
    </a>
    <p class="mb-3 font-normal text-gray-500 dark:text-gray-400">Papalyze uses OCR (Optical Character Recognition) to scan printed exam papers and NLP (Natural Language Processing) to extract key questions, trends, and patterns—making your preparation smarter, efficient and data-driven.</p>
    <a href="https://flowtrics.com/ocr-vs-nlp-document-automation/" target="_blank" class="inline-flex font-medium items-center text-blue-600 hover:underline">
        How it works
        <svg class="w-3 h-3 ms-2.5 rtl:rotate-[270deg]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11v4.833A1.166 1.166 0 0 1 13.833 17H2.167A1.167 1.167 0 0 1 1 15.833V4.167A1.166 1.166 0 0 1 2.167 3h4.618m4.447-2H17v5.768M9.111 8.889l7.778-7.778"/>
        </svg>
    </a>
</div>



  <!-- Card 2 -->
  
<div class=" p-6 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
    <svg class="w-7 h-7 text-gray-500 dark:text-gray-400 mb-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
        <path d="M18 5h-.7c.229-.467.349-.98.351-1.5a3.5 3.5 0 0 0-3.5-3.5c-1.717 0-3.215 1.2-4.331 2.481C8.4.842 6.949 0 5.5 0A3.5 3.5 0 0 0 2 3.5c.003.52.123 1.033.351 1.5H2a2 2 0 0 0-2 2v3a1 1 0 0 0 1 1h18a1 1 0 0 0 1-1V7a2 2 0 0 0-2-2ZM8.058 5H5.5a1.5 1.5 0 0 1 0-3c.9 0 2 .754 3.092 2.122-.219.337-.392.635-.534.878Zm6.1 0h-3.742c.933-1.368 2.371-3 3.739-3a1.5 1.5 0 0 1 0 3h.003ZM11 13H9v7h2v-7Zm-4 0H2v5a2 2 0 0 0 2 2h3v-7Zm6 0v7h3a2 2 0 0 0 2-2v-5h-5Z"/>
    </svg>
    <a href="#">
        <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">Built for Students</h5>
    </a>
    <p class="mb-3 font-normal text-gray-500 dark:text-gray-400">Designed with simplicity in mind, Papalyze is mobile-friendly, easy to use, and built to help students focus on key questions, understand important patterns, and achieve better exam success without distractions.</p>
    <a href="https://timesofindia.indiatimes.com/education/news/beyond-screen-time-10-smart-ways-ai-can-revolutionise-your-studying/articleshow/121756911.cms" target="_blank" class="inline-flex font-medium items-center text-blue-600 hover:underline">
        AI-Powered Study
        <svg class="w-3 h-3 ms-2.5 rtl:rotate-[270deg]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11v4.833A1.166 1.166 0 0 1 13.833 17H2.167A1.167 1.167 0 0 1 1 15.833V4.167A1.166 1.166 0 0 1 2.167 3h4.618m4.447-2H17v5.768M9.111 8.889l7.778-7.778"/>
        </svg>
    </a>
</div>

  <!-- Card 3 -->
  
<div class=" p-6 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
    <svg class="w-7 h-7 text-gray-500 dark:text-gray-400 mb-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
        <path d="M18 5h-.7c.229-.467.349-.98.351-1.5a3.5 3.5 0 0 0-3.5-3.5c-1.717 0-3.215 1.2-4.331 2.481C8.4.842 6.949 0 5.5 0A3.5 3.5 0 0 0 2 3.5c.003.52.123 1.033.351 1.5H2a2 2 0 0 0-2 2v3a1 1 0 0 0 1 1h18a1 1 0 0 0 1-1V7a2 2 0 0 0-2-2ZM8.058 5H5.5a1.5 1.5 0 0 1 0-3c.9 0 2 .754 3.092 2.122-.219.337-.392.635-.534.878Zm6.1 0h-3.742c.933-1.368 2.371-3 3.739-3a1.5 1.5 0 0 1 0 3h.003ZM11 13H9v7h2v-7Zm-4 0H2v5a2 2 0 0 0 2 2h3v-7Zm6 0v7h3a2 2 0 0 0 2-2v-5h-5Z"/>
    </svg>
    <a href="#">
        <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">Success-Oriented Design</h5>
    </a>
    <p class="mb-3 font-normal text-gray-500 dark:text-gray-400">Designed to drive better outcomes, Papalyze offers focused, student-centric features that guide learners toward exam success with less effort, more confidence, and a deeper understanding of patterns and key topics.</p>
    <a href="https://www.computerscience.org/resources/ai-tools-to-help-you-study/" target="_blank" class="inline-flex font-medium items-center text-blue-600 hover:underline">
        More Like Papalyze
        <svg class="w-3 h-3 ms-2.5 rtl:rotate-[270deg]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11v4.833A1.166 1.166 0 0 1 13.833 17H2.167A1.167 1.167 0 0 1 1 15.833V4.167A1.166 1.166 0 0 1 2.167 3h4.618m4.447-2H17v5.768M9.111 8.889l7.778-7.778"/>
        </svg>
    </a>
</div>


</div>


{% endblock %}